/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
.carousel-circles > .carousel-circle {
  float: left;
  width: 0.35em;
  height: 0.35em;
  margin-right: 0.4em;
  border-radius: 0.3em;
  background-color: #d6c6c5;
}
.carousel-circles > .carousel-circle.is-selected {
  background-color: #d2d2d2;
}
