.spinner > .spinner-item {
  background: red;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.spinner > .spinner-item:nth-child(1) {
  -webkit-transform: rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: -0.9996s;
}
.spinner > .spinner-item:nth-child(2) {
  -webkit-transform: rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: -0.9163s;
}
.spinner > .spinner-item:nth-child(3) {
  -webkit-transform: rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: -0.833s;
}
.spinner > .spinner-item:nth-child(4) {
  -webkit-transform: rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: -0.7497s;
}
.spinner > .spinner-item:nth-child(5) {
  -webkit-transform: rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: -0.6664s;
}
.spinner > .spinner-item:nth-child(6) {
  -webkit-transform: rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: -0.5831s;
}
.spinner > .spinner-item:nth-child(7) {
  -webkit-transform: rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: -0.4998s;
}
.spinner > .spinner-item:nth-child(8) {
  -webkit-transform: rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: -0.4165s;
}
.spinner > .spinner-item:nth-child(9) {
  -webkit-transform: rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: -0.3332s;
}
.spinner > .spinner-item:nth-child(10) {
  -webkit-transform: rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: -0.2499s;
}
.spinner > .spinner-item:nth-child(11) {
  -webkit-transform: rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: -0.1666s;
}
.spinner > .spinner-item:nth-child(12) {
  -webkit-transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.0833s;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
