/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
.price-label {
  background: #577a9c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#577a9c, 0), color-stop(#336ca4, 0.03), color-stop(#3775b3, 0.07), color-stop(#4080bb, 0.41), color-stop(#4b8ac1, 1));
  background: -webkit-linear-gradient(top, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  background: linear-gradient(top, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #577a9c), color-stop(3%, #336ca4), color-stop(7%, #3775b3), color-stop(41%, #4080bb), color-stop(100%, #4b8ac1));
  background: -webkit-linear-gradient(top, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  background: linear-gradient(top, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  background: -webkit-linear-gradient(to bottom, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  background: linear-gradient(to bottom, #577a9c 0%, #336ca4 3%, #3775b3 7%, #4080bb 41%, #4b8ac1 100%);
  color: #ffffff;
  padding: 5px 10px;
  /*border-radius*/

  -webkit-border-radius: 20px;
  border-radius: 20px;
  float: right;
  /*box-shadow*/

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
