.space.by-one {
  margin-bottom: 11px;
}
.space.by-two {
  margin-bottom: 22px;
}
.space.by-three {
  margin-bottom: 33px;
}
.space.by-four {
  margin-bottom: 44px;
}
.space.by-five {
  margin-bottom: 55px;
}
.space.by-six {
  margin-bottom: 66px;
}
.space.by-seven {
  margin-bottom: 77px;
}
.space.by-eight {
  margin-bottom: 88px;
}
.space.by-nine {
  margin-bottom: 99px;
}
