/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
/*
.rectangle-button-style (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  border-top: 1px solid (rgba(255,255,255,0.8));
  
  -webkit-box-shadow: 0 0 0 1px (darken(@button-color, 30%)), 0 2px 0 0 (rgba(255,255,255,0.7));
  box-shadow: 0 0 0 1px (darken(@button-color, 30%)), 0 2px 0 0 (rgba(255,255,255,0.7));

}
*/
/*
.rectangle-button-active-style (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.45) 100%); 
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.45))); 
  
  border-top: 1px solid darken(@button-color, 10%);

  -webkit-box-shadow: 0 0 0 1px (darken(@button-color, 30%)), inset 0 1px 3px 0 (darken(@button-color, 10%));
  box-shadow: 0 0 0 1px (darken(@button-color, 30%)), inset 0 1px 3px 0 (darken(@button-color, 10%));

}
*/
.rectangle-button {
  height: 28px;
  border-radius: 2px;
}
.rectangle-button.is-small {
  width: 38px;
}
/*
.rectangle-button.is-large {

	width: 310px;
	top: 7px;
	left: 5px;
	text-align: center;
	line-height: 30px;

}
*/
.large-button {
  height: 44px;
  width: 82.5%;
  border-radius: 10px;
}
.large-button.is-black,
.large-button.single.is-black,
.rectangle-button.is-black,
.rectangle-button-adaptative.is-black {
  background-color: #333333;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.45)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  border: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.6), -1px 0 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 0 rgba(255, 255, 255, 0.2) inset;
}
.large-button.is-black:active,
.large-button.single.is-black:active,
.rectangle-button.is-black:active,
.rectangle-button-adaptative.is-black:active {
  background-color: #333333;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.45) 100%);
  /* FF3.6+ */

  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.45)));
  /* Chrome,Safari4+ */

  border: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.large-button.is-orange,
.large-button.single.is-orange,
.rectangle-button.is-orange,
.rectangle-button-adaptative.is-orange {
  background-color: #fd6d35;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.45)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  border: 1px solid #982b01;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.6), -1px 0 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 0 rgba(255, 255, 255, 0.2) inset;
}
.large-button.is-orange:active,
.large-button.single.is-orange:active,
.rectangle-button.is-orange:active,
.rectangle-button-adaptative.is-orange:active {
  background-color: #fd6d35;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.45) 100%);
  /* FF3.6+ */

  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.45)));
  /* Chrome,Safari4+ */

  border: 1px solid #982b01;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.large-button.is-blue,
.large-button.single.is-blue,
.rectangle-button.is-blue,
.rectangle-button-adaptative.is-blue {
  background-color: #3c7fbd;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.45)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  border: 1px solid #173149;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.6), -1px 0 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 0 rgba(255, 255, 255, 0.2) inset;
}
.large-button.is-blue:active,
.large-button.single.is-blue:active,
.rectangle-button.is-blue:active,
.rectangle-button-adaptative.is-blue:active {
  background-color: #3c7fbd;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.45) 100%);
  /* FF3.6+ */

  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.45)));
  /* Chrome,Safari4+ */

  border: 1px solid #173149;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.large-button.is-grey,
.large-button.single.is-grey,
.rectangle-button.is-grey,
.rectangle-button-adaptative.is-grey {
  background-color: #aaaaaa;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.45)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  border: 1px solid #5e5e5e;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.6), -1px 0 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 0 rgba(255, 255, 255, 0.2) inset;
}
.large-button.is-grey:active,
.large-button.single.is-grey:active,
.rectangle-button.is-grey:active,
.rectangle-button-adaptative.is-grey:active {
  background-color: #aaaaaa;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.45) 100%);
  /* FF3.6+ */

  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.45)));
  /* Chrome,Safari4+ */

  border: 1px solid #5e5e5e;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.rectangle-button-adaptative {
  display: table;
  border-radius: 2px;
  padding: 1px 10px 0;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
}
.large-button.single {
  text-align: center;
  line-height: 46px;
}
.large-button.icon:before,
.rectangle-button.icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f2f2f2;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
}
.large-button.icon.is-icon-small:before,
.rectangle-button.icon.is-icon-small:before {
  /*Override is-icon-small font-size*/

  font-size: 21.875px;
  margin-left: -10.9375px;
  margin-top: -14.21875px;
}
.large-button.icon:before,
.rectangle-button.icon:before {
  /*Override is-icon-normal font-size*/

  font-size: 28px;
  margin-left: -14px;
  margin-top: -18.2px;
}
.large-button.icon.is-icon-big:before,
.rectangle-button.icon.is-icon-big:before {
  /*Override is-icon-big font-size*/

  font-size: 39.375px;
  margin-left: -19.6875px;
  margin-top: -25.59375px;
}
