/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
.invite-button {
  background-color: #3c7fbd;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 100%);
  /* FF3.6+ */

  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  /* Chrome,Safari4+ */

  border-width: 1px;
  -webkit-border-image: url(assets/buttons/invite_button_border.png) 1% 0% 1% 0.5% stretch stretch;
  height: 54px;
  width: 121px;
  -webkit-mask-image: url(assets/buttons/invite_button_mask.png);
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}
.invite-button > .invite-button-inner {
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -21.6px;
  margin-left: -48.400000000000006px;
  width: 96.80000000000001px;
  height: 43.2px;
  -webkit-box-shadow: 0 0 0 1px #3c7fbd, 0 2px 0 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 1px 0px 0 0 rgba(255, 255, 255, 0.2), inset -1px 0px 0 0 rgba(255, 255, 255, 0.2);
}
.invite-button > .invite-button-inner > .invite-button-vertical-line {
  position: absolute;
  top: 0%;
  width: 1px;
  height: 100%;
}
.invite-button > .invite-button-inner > .invite-button-vertical-line.is-left {
  border-left: 1px solid #3c7fbd;
  float: left;
  left: 10%;
  -webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 1px 0px 0px 0 rgba(255, 255, 255, 0.2);
}
.invite-button > .invite-button-inner > .invite-button-vertical-line.is-right {
  border-right: 1px solid #3c7fbd;
  float: right;
  right: 10%;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.2), inset -1px 0 0px 0 rgba(255, 255, 255, 0.2);
}
.invite-button > .invite-button-inner > .invite-button-horizontal-line {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 25%;
  border-top: 1px solid #3c7fbd;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
.invite-button > .invite-button-inner > .invite-button-horizontal-line.is-left {
  float: left;
  left: 15%;
}
.invite-button > .invite-button-inner > .invite-button-horizontal-line.is-right {
  float: right;
  right: 15%;
}
.invite-button > .invite-button-inner > .invite-button-circle {
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1.5px;
  margin-left: -1.5px;
  width: 3px;
  height: 3px;
  background-color: #3c7fbd;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
}
.invite-button > .invite-button-inner > .invite-text {
  position: absolute;
  width: 100%;
  height: 50%;
  color: white;
  text-align: center;
}
.invite-button > .invite-button-inner > .invite-text.l-up {
  top: 5%;
}
.invite-button > .invite-button-inner > .invite-text.l-down {
  top: 65%;
}
.invite-button.is-small {
  height: 52px;
  width: 96px;
  -webkit-mask-image: url(assets/buttons/invite_button_small_mask.png);
}
.invite-button.is-small > .invite-button-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -24px;
  margin-left: -40px;
  width: 78px;
  height: 46px;
}
