.switch-button {
  overflow: visible;
  position: relative;
  height: 38px;
  width: 78px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 19px;
  border: 1px solid #BBB;
  background: #D6D6D6;
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
}
.switch-button > .sb-label-left {
  z-index: 1;
  left: 0;
  border: 1px solid #2373A5;
  background: #5393C5;
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
}
.switch-button > .sb-label-right {
  z-index: 0;
  right: 0;
  border: 1px solid #BBB;
  background: #D6D6D6;
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
}
.switch-button > .sb-label {
  position: absolute;
  min-height: 100%;
  overflow: hidden;
  border-width: 0;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 19px;
}
.switch-button > .sb-inner {
  margin: 0 19px;
  position: relative;
  z-index: 1;
}
.switch-button > .sb-inner > .sb-inner-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: 1px;
  margin-left: -18px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 19px;
  border: 1px solid #CCC;
  background: #EEE;
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.switch-button.is-disabled {
  background: red;
}
.switch-button.is-disabled > .sb-label-left {
  background: red;
}
.switch-button.is-disabled > .sb-label-right {
  background: red;
}
