/***NEW COLORS***/
/***OLD COLORS***/
/*@orange00: #ff6d4a;
@orange01: #ff4e24;
@orange02: #e64620;*/
/*@grey00: #FFF8F7;
@grey01: #F2EBEA;
@grey02: #dcdcdc;
@grey03: #9C9190;
@grey04: #665F5E;
@grey05: #575150;*/
/*@blue_00:#97abcf;
@blue_01:#6e8ebe;
@blue_02:#3f6eaa;
@blue_03:#2c4d77;*/
.single-input {
  width: 100%;
  height: 29px;
  border: none;
  padding: 0px;
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #ffffff;
  border-top: 1px solid #c9c9c9;
  -webkit-box-shadow: 0 0 0 1px #626262, 0 2px 0 0 rgba(255, 255, 255, 0.6);
  outline: none;
  font-size: 14px;
  color: #333333;
  text-indent: 15px;
}
